<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="{{refresh_time}}">
    <title>Arduino Console</title>
    <style type="text/css">
      table {
        border: 1px solid;
      }
      tr {
        background-color: #efefef;
      }
      tr:hover {
        background-color: #dedede;
      }
    ></style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" style="background-color: #66B3FF">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/EliminaTuttiLog">DeleteAll</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="container">
      <form action="" method="post">
          <label for="refresh_time">Tempo di Refresh: </label>
          <input type="number" id="refresh_time" name="refresh_time"
             value="{{ refresh_time }}">
          </input>
            <button type="submit" class="btn btn-primary">Aggiorna</button>
      </form>
    </div>



<form action="" method="get">
<div class="container">
  <h1> Elenco Log </h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Log Message</th>
        <th scope="col">Data</th>
        <th scope="col">Nota</th>
      </tr>
    </thead>
    <tbody>
      {% for logs in logs %}
        <tr>
          <th scope="row">{{logs.IdLog}}</th>
          <td>{{logs.LogMessage}}</td>
          <td>{{logs.Data}}</td>
          <td>-----</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div></form>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>